<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decentralized Talent Discovery Platform | Profile</title>

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/projects.css" />

    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>
        .img-fluid{
            max-width: 100%!important;
        }
    </style>
  </head>
  <body>
    
    <!-- Modal -->
    <div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="skillModalLabel">Add Your Skill</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form inside modal -->
            <form id="myForm" onSubmit="App.AddSkills(); return false;">
              <div class="form-group">
                <label for="skill">Skill</label>
                <input type="text" class="form-control" id="skill" placeholder="Enter skill" required>
              </div>
              <div class="form-group">
                <label for="proficiency">Proficiency (%)</label>
                <input type="number" class="form-control" id="proficiency" placeholder="Enter proficiency percentage" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="projectModalLabel">Add Your Projects</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form inside modal -->
            <form id="AddProjectForm" onSubmit="App.AddProject(); return false;" enctype="multipart/form-data">
              <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter project description"></textarea>
              </div>
              <div class="form-group">
                <label for="projectFile">Project File</label>
                <input type="hidden" id="name" name="ownerName" value="">
                <input type="hidden" id="tokenIdForProjectDoc" name="tokenId" value="">
                <input type="file" class="form-control-file" name="document" id="projectFile">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="achievementModal" tabindex="-1" role="dialog" aria-labelledby="achievementModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="achievementModalLabel">Add Your Achievement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form inside modal -->
            <form id="AddAchievementForm" onSubmit="App.AddAchievement(); return false;" enctype="multipart/form-data">
              <div class="form-group">
                <label for="achievementName">Achievement Name</label>
                <input type="text" class="form-control" id="achievementName" placeholder="Enter achievement name">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter achievement description"></textarea>
              </div>
              <div class="form-group">
                <label for="achievementFile">Achievement File</label>
                <input type="file" class="form-control-file" name="document" id="achievementFile">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    
    <div style="margin-top: 24px;" class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/dashboard" class="logo d-flex align-items-center">
          <img src="/images/logo.png" width="100px" alt="">
        </a>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="scrollto" href="#">My Skills</a></li>

            <li><a class="scrollto" href="#">My Achievement</a></li>

            <li><a class="scrollto" href="#">My Projetcs</a></li>

            <li><a class="getstarted scrollto" href="/auth/logout">Logout</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
  
      </div>
    <div class="container" style="margin-top: 63px;">
        
      <div class="main-body">

        <div class="row gutters-sm">
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    alt="Admin"
                    class="rounded-circle"
                    width="150"
                  />
                  <div class="mt-4">
                    <h4 id="card-name"></h4>
                    <p id="card-role" class="text-secondary mb-1">Desgination</p>
                    <p id="card-email" class="text-muted font-size-sm">
                      Location
                    </p>
                    <button class="btn btn-outline-primary">Share Profile</button>
                    <hr>
                    <div>
                      <form id="resumeUploadForm"
                        enctype="multipart/form-data"
                        onSubmit="App.ResumeUpload(); return false;"
                        style="display: flex;justify-content: center;"
                      >
                      <input type="hidden" id="name" name="ownerName" value="">
                      <input type="hidden" id="tokenId" name="tokenId" value="">
                        <div class="input-field">
                          <input id="file" type="file" name="document" required />
                        </div>

                        <div class="input-field button">
                          <button class="btn btn-outline-secondary" type="submit">Upload Resume</button>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-globe mr-2 icon-inline"
                    >
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="2" y1="12" x2="22" y2="12"></line>
                      <path
                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                      ></path></svg>Website
                  </h6>
                  <span class="text-secondary">link</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-github mr-2 icon-inline"
                    >
                      <path
                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                      ></path></svg>Github
                  </h6>
                  <span class="text-secondary">link</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-twitter mr-2 icon-inline text-info"
                    >
                      <path
                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                      ></path></svg>Twitter
                  </h6>
                  <span class="text-secondary">@link</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-instagram mr-2 icon-inline text-danger"
                    >
                      <rect
                        x="2"
                        y="2"
                        width="20"
                        height="20"
                        rx="5"
                        ry="5"
                      ></rect>
                      <path
                        d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                      ></path>
                      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram
                  </h6>
                  <span class="text-secondary">link</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                >
                  <h6 class="mb-0">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-facebook mr-2 icon-inline text-primary"
                    >
                      <path
                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                      ></path></svg>Facebook
                  </h6>
                  <span class="text-secondary">link</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div id="right-name" class="col-sm-9 text-secondary"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div id="right-email" class="col-sm-9 text-secondary"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Role</h6>
                  </div>
                  <div id="right-role" class="col-sm-9 text-secondary"></div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Wallet Address</h6>
                  </div>
                  <div id="right-wallet" class="col-sm-9 text-secondary"></div>
                </div>
                <hr />
              
                <div class="row">
                  <div class="col-sm-12">
                  </div>
                </div>
              </div>
            </div>

            
              <div class="col-sm-12 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3" style="display: flex;justify-content: space-between;">
                      <i class="material-icons text-info mr-2"></i
                      >My Technical Status
                      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#skillModal">Add Skill</button>
                    </h6>
                    
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        style="width: 80%"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr style="margin-top: 44px;">
        <h2 style="text-align: center;display: flex;justify-content:space-between"><span>My Projects </span><button class="btn btn-outline-primary" data-toggle="modal" data-target="#projectModal">Add Projects</button></h2>
        <hr style="margin: 24px;">

        <div class="showcase">
            <div style="background: url(https://st2.depositphotos.com/1813786/12508/v/450/depositphotos_125087888-stock-illustration-project-icons-and-elements.jpg);background-size: cover;background-position: center center; " class="thumbnail thumbnail--awesome">
                <div class="thumbnail__overlay">
                    <a class="btn" href="#0">DETAILS</a>
                </div>
            </div>
            <div class="desc">
                <p>Case Study</p>
                <h2>Awesome Project</h2>
                <p>This project is awesome!
                </p>
            </div>
        </div>

        <hr style="margin-top: 94px;">
        <h2 style="text-align: center;display: flex;justify-content:space-between"><span>My Achievements </span><button class="btn btn-outline-primary" data-toggle="modal" data-target="#achievementModal">Add Achievements</button></h2>
        <hr style="margin: 24px;">

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="feather bi-arrow-left"></i>

                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="feather bi-arrow-right"></i>

                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Achievement 1</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Achievement 2</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                        <div class="card-body">
                                            <h4 class="card-title">Achievement 3</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>

    <hr style="margin: 84px;">
    <div id="footer" class="site-footer">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-5">
              <div class="widget">
                <h3 class="heading">About Application</h3>
                <p>
                  Empowering artists, creators, developers, and professionals to showcase their skills, find opportunities, and collaborate without intermediaries. Join our decentralized community today and discover a world of endless possibilities.
                </p>
              </div>
              <div class="widget">
                <ul class="list-unstyled social">
                  <li >
                    <a style="padding: 22px;" href="https://github.com/tech-creed/TRINIT-TECHCREED-WEB3"><span style="font-size: 32px;" class="icon-github"></span></a>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3"></div>
            <div class="col-md-6 col-lg-4" style="float: right;">
              <div class="widget">
                <h3 class="heading">Contact</h3>
                <ul class="list-unstyled quick-info links">
                  <li class="email"><a href="#">techcreed.info@gmail.com</a></li>
                  <li class="phone"><a href="#">+91 9080399842</a></li>
                  <li class="phone"><a href="#">+91 9080399842</a></li>
                  <li class="address">
                    <a href="#">Theni-625531, Tamilnadu, India</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This Application made with
                <i class="icon-heart text-danger" aria-hidden="true"></i> by
                <a
                  href=""
                  target="_blank"
                  rel="nofollow noopener"
                  >TECH CREED</a
                >
                During the Hackathon of Tri-NIT Hackathon 3.0
              </p>
            </div>
          </div>
        </div>
      </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/custom.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/truffle-contract@4.0.31/dist/truffle-contract.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>

  <script src="/js/main.js"></script>
  <script src="/js/app.js"></script>

    <script>
      cookies = document.cookie.split(';')
    console.log(cookies)
    document.getElementById(cookies[2].split('=')[0].trim()).value = decodeURIComponent(cookies[2].split('=')[1])
    document.getElementById('card-name').innerHTML = decodeURIComponent(cookies[2].split('=')[1])
    document.getElementById('card-role').innerHTML = decodeURIComponent(cookies[1].split('=')[1])
    document.getElementById('card-email').innerHTML = decodeURIComponent(cookies[3].split('=')[1])

    document.getElementById('right-name').innerHTML = decodeURIComponent(cookies[2].split('=')[1])
    document.getElementById('right-role').innerHTML = decodeURIComponent(cookies[1].split('=')[1])
    document.getElementById('right-email').innerHTML = decodeURIComponent(cookies[3].split('=')[1])
    document.getElementById('right-wallet').innerHTML = decodeURIComponent(cookies[0].split('=')[1])
    document.getElementById('tokenId').value = decodeURIComponent(cookies[0].split('=')[1]).slice(2,11)
    document.getElementById('tokenIdForProjectDoc').value = decodeURIComponent(cookies[0].split('=')[1]).slice(3,12)
    </script>
  </body>
</html>
